[2018-04-17 13:29] poros opened #5 "Support default values for type Enum"
The Avro type Enum is missing support for default value due to its weird nature of being represented as integers but having default values as string. The library should support that use case to be feature complete.

[2018-04-17 13:31] poros opened #6 "Support string values for Enum"
Avro Enum are represented as integers but they should work with string values as well. Since they are the only ones in the spec to have such a disparity between representation and usage, this feature isn't supported yet. Let's make that happen.

[2018-04-17 13:33] poros opened #7 "Write test and documentation for the types module"
The `types` module is still missing documentation and tests.

[2018-04-17 13:33] poros opened #8 "Write tests and documentation for the schema module"
The `schema` module is still missing documentation and tests.

[2018-04-17 13:36] poros opened #9 "Write tests and documentation for the writer module"
The `writer` module is still missing documentation and tests.

[2018-04-17 13:36] poros opened #10 "Write tests and documentation for the reader module"
The `reader` module is still missing tests and documentation.

[2018-04-17 13:37] poros opened #11 "Write a tutorial"
The library does have an example in `lib.rs` but that should be expanded in at least a short tutorial.

[2018-04-17 13:40] poros opened #12 "Review public interface"
The library has the tendency to declare most things public, like it happened to the `de` and `ser` module. Let's review the public interface and check whether something that shouldn't be part of it is still  public.

[2018-04-17 13:47] poros opened #13 "Publish library to crates.io"
Library must be published to crates.io before we can ask serde to add to its main page. We should also check that documentation builds correctly on the website.

[2018-04-17 13:49] poros opened #14 "Add library to serde ecosystem"
Serde has a list of serde formats specifying the main library supporting each of those. Let's ask to be added to the list for avro.

[2018-04-19 18:14] #5 closed

[2018-04-19 18:14] #6 closed

[2018-04-24 18:16] flavray opened #17 "Rethink the Writer support - Add DatumWriter"
Pretty much like both the Python and Java Avro client libraries do, it would be nice to rethink the way data is written and encoded.

The current `Writer` implementation is limited, and we had to add the `SingleWriter` interface to allow single-message writing support. The approach taken by the official Avro clients is really different and it would be nice to align the Rust library with them.

Pro

[2018-04-25 10:20] flavray opened #18 "Backport tests of the Python client library"
The Avro Python client library has an extensive suite of tests to ensure encoding, decoding, schema reading, etc... are working well.

Let's try and backport them as part of an "integration" test suite for avro-rs

https://github.com/apache/avro/tree/master/lang/py/test

[2018-04-26 14:40] poros commented on #18
@flavray do you want to add it to the first milestones or is it more of a nice to have?

[2018-04-26 14:41] poros commented on #17
Starting

[2018-04-26 18:56] flavray opened #19 "Avoid calling .resolve when encoding datum"
Due to the way enums work right now, we are forced to make a call to `Value::resolve` before encoding datum in avro format. This might suck performance (for arrays, maps, records mostly) by doing extra allocations.

We should probably treat enum as a special case (or come up with a magical solution) and avoid calling `.resolve` :)

[2018-04-30 14:05] poros commented on #12
I assigned this issue to @flavray too, so we do it as soon as we work on a module (e.g. I am doing it for writer, the one working on reader will do it for that module as well)

[2018-05-01 16:07] #9 closed

[2018-05-01 16:07] #17 closed

[2018-05-03 13:33] #10 closed

[2018-05-03 15:19] #8 closed

[2018-05-04 17:54] flavray commented on #19
Fixed in #23

[2018-05-04 17:54] #19 closed

[2018-05-16 13:48] #11 closed

[2018-05-16 13:48] #12 closed

[2018-05-16 15:12] flavray commented on #13
https://crates.io/crates/avro-rs 😄

[2018-05-16 15:12] #13 closed

[2018-05-16 16:16] dtolnay opened #25 "Deflate codec documentation is missing asterisks"
This should be `**Deflate**` in place of `**Deflate`.

https://github.com/flavray/avro-rs/blob/2baa51181e0e01540aaee79cb77692f60ef4d136/src/lib.rs#L217-L218

[2018-05-21 12:58] #25 closed

[2018-05-21 18:29] frankbohman opened #27 "Expose from_avro_datum to be able to deserialize individual records record"
The usecase i need this for, is to be able to consume messages from kafka and deserialize them into value.

[2018-05-22 09:42] flavray commented on #27
I've just released the [0.2.0](https://crates.io/crates/avro-rs) version of the crate. `from_avro_datum` should now be publicly available  🙂

[2018-05-29 16:58] nmaki opened #30 "Consuming avro messages from kafka"
It looks like the crate today supports to use case of reading avro data from a file. I think the ability to deserialize messages from kafka would be nice. Is this a use case that would fit into this crate or would it be better served in a standalone crate?

After some research it appears this functionality would end up needing at least a schema registry client in addition to the ability to parse t

[2018-05-29 19:34] nmaki commented on #30
Yeah that makes sense.

That function looks to be exactly what I'll need to get started. Thank you!

[2018-05-29 19:34] #30 closed

[2018-05-29 20:05] laslowh opened #31 "Improve readme example"
I notice that in the example provided in the README (and elsewhere), there is there are two serializations done of the Test struct, once with types::Record, and once with a native rust struct that derives Serialize.  Both of those serializations use the same data (a: 27, b:"foo"),  however when I change the data in the second record to:

    let test = Test {
        a: 999,
        b: "bar".to_ow

[2018-05-29 20:44] flavray commented on #31
Oh wow, thanks for opening the issue, I was able to reproduce it locally.
The issue seems to be that we re-use the initial state of the byte-array for every item have to read. That means the library is reading the first element over and over.

I'll open a PR with a fix, the library should be usable soon!

[2018-05-29 21:39] #31 closed

[2018-05-29 21:41] laslowh commented on #31
Now that's a quick response.  Thanks.  Let me know if there's any way I can help, I'm going to work on porting a project of mine to your library.  I'll let you know if I have any other trouble.

[2018-05-29 22:00] flavray commented on #31
I've just released the [0.3.0](https://crates.io/crates/avro-rs) version of the crate, this should have fixed the problem.
Let me know if the new version works better 🙂

Thanks in advance for letting us know if you have any other trouble, and don't hesitate to open issues if other parts of the README/documentation are unclear.  Hope the porting of your project will go smoothly!

[2018-05-30 06:14] flavray commented on #14
https://github.com/serde-rs/serde/pull/1260 has been merged 👍

[2018-05-30 06:14] #14 closed

[2018-05-31 15:44] laslowh opened #33 "Union index is zig-zag long"
The avro spec says that a Union value is encoded by first encoding the index of the Union entry as a long--meaning zig-zag encoded.  In decode.rs, it reads the index as a single byte, directly encoded as an integer.  I think this change needs to be made:

[code]

[2018-05-31 15:48] laslowh commented on #33
I guess there's also a parallel change that needs to be made on the encode side...

[2018-05-31 17:01] laslowh commented on #33
Actually I think there's a second bug in the code above, I think the second case in match needs to be:
[code]

[2018-06-01 08:34] flavray commented on #33
Good catch!
Given you have it already almost all figured out, would you feel comfortable opening a PR to fix this? 🙂

[2018-06-02 07:06] #33 closed

[2018-06-21 04:15] xrl opened #39 "Union with many types"
I'm new to avro and its schema format but I'm diving in and trying to read a data stream using an avro schema. It's metric data, a timestamp, a scalar, and some tags:

[code]

it's very "generous" in terms of what kind of data can come in, any flavor of scalars for the most part. How could I convert the schema parser to handle this?

[2018-06-21 18:52] flavray commented on #39
Hi! When building the library we made the choice of only supporting 2 types for Unions.
There are two main reasons:
- It makes the code and logic way easier for us 😄
- Having a union schema with more than 2 possibilities seems like a small schema design smell. Unions could end up being “catch-all” schemas and we wanted to avoid advertising this.

Our current focus for unions is to support nullable

[2018-06-21 21:20] laslowh opened #40 "Crash on bogus input"
Avro-rs has a tendency to crash the process when given invalid input.  The typical error message that I've seen (I don't have it right now) mentions an out of memory condition.  My guess is it's trying to allocate an array of size -7 or something.  I'd like to start using this crate in a project of mine, but the crashes are an issue.

I've actually created a fuzzer project with [afl.rs](https://ru

[2018-06-22 14:18] laslowh commented on #40
So here's some output from a crash:

[2018-06-22 14:52] poros commented on #40
Thank you for the report! Never happened to us so far. We'll try to reproduce.

[2018-06-22 14:59] laslowh commented on #40
So apparently there's a movement afoot to add the ability to [handle out of memory conditions](https://github.com/rust-lang/rust/issues/48043). However, as far as I can tell, it's not even a nightly feature yet.  As an interim step, would you consider putting an optional upper bound on the size of any allocations that happen with a "user specified" size?

[2018-06-22 15:19] laslowh commented on #40
Ok, so here's a simple program that can reproduce two different types of crashes:

[code]
Change 'causes_out_of_memory' to 'causes_left_shift_overflow' to see the other one.

[2018-06-24 09:02] #40 closed

[2018-06-24 09:05] flavray commented on #40
Thanks for the report!
I've just merged #42 which should fix both issues (at least, the code in the last comment does not panic anymore). Let us know if you find any other crashes when using the library, we've definitely not battle-tested it against bogus input 🙂

[2018-07-19 20:18] laslowh opened #45 "Code to serialize derived struct is commented out"
There's code that's commented out in types.rs:

[code]

This appears to do exactly what I need to do (create an avro-rs Value from a struct that has derived Serialize).   Is there a preferred way to do this, or can this code be un-commented?

[2018-07-20 11:00] flavray commented on #45
This code is commented because it won't compile (due to conflicting implementations of `ToAvro` for many types covered by `Serialize`). I spent days trying to make it work, without success.
If you want to have a try, please do 🙂

In the mean time, if you really need to have a struct transformed into a `Value` (I'd be curious to know why, maybe it would help figure out how to solve the issue), I'd

[2018-07-20 15:18] laslowh commented on #45
Yeah, I did try a bit.

My use case is probably a bit esoteric.  I make heavy use of
from_avro_datum() and to_avro_datum() (thanks for providing those!), and
those operate on Values.

Your code looks good, however, compiling that outside the crate would
require making avro_rs::ser::Serializer visible (possibly by adding a "pub"
mod?).  Would that be possible?

graham

On Fri, Jul 20, 2018 at 7:00

[2018-07-20 18:09] flavray commented on #45
Oh indeed, my bad 😄

I see your use-case. Instead of making the serializer public, would you want to have a method like:
[code]

If that would solve your problem, I wouldn't mind adding it and creating a new version of `avro-rs` 🙂

[2018-07-20 18:13] laslowh commented on #45
The other option would be to provide the opposite of  [from_value()](https://docs.rs/avro-rs/0.4.1/avro_rs/fn.from_value.html), "to_value()"

[2018-07-21 16:44] flavray commented on #45
That is a great idea! 😄
I've opened #45 to add this function

[2018-07-25 15:58] laslowh opened #47 "Record serialization is sensitive to order of fields in struct"
I'm not sure this is not intended behavior, but I just got tripped up by this so I thought I'd point it out.  If you declare a schema like this:

{
  "type": "record",
  "name": "my_record",
  "fields": [
    {"name": "a", "type": "long"},
    {"name": "b", "type": "string"},
  ]
}

and then try to de/serialize it into a rust struct of this type:

#[derive(Deserialize, Serialize
pub struct MyRecor

[2018-07-26 10:57] flavray commented on #47
Hmm good point, thanks for raising that. I feel like it should still be an error, as for these two different schemas:

[code]

and

[code]

Avro will encode them differently, and schema resolution will not succeed if writing from one and reading from the other. 🙂

---

Another limitation is that we currently do not rely on the schema to transform a `Serialize`-able struct into a `Value`. This coul

[2018-07-26 13:08] laslowh commented on #47
Yeah, I understand the point about two differing schema, but I think it may be confusing for people coming from the Rust community where I don't think order of fields on a struct ever matters.  I don't know much about other implementations of Serde serializers, but if, for example, many other implementations where able to handle this case, it might be a sticking point.

Either way, I don't think i

[2018-08-01 18:06] laslowh opened #49 "Error serializing/deserializing record with consecutive arrays"
It appears that a record with two consecutive array fields is not getting serialized (or maybe deserialized correctly).  The following test fails, saying that the rehydrated value of secondvec is [] where it should be [3,4].  I could only get the test to fail when firstvec is empty.  If you uncomment the line "my_struct.firstvec = vec![8,9];" the test passes.

[code]

[2018-08-02 08:43] flavray commented on #49
Thanks for reporting this!

I was able to reproduce the error. I was able to figure out what the problem came from:
https://github.com/flavray/avro-rs/blob/master/src/encode.rs#L66

If the length happens to be `0`, the `0` will be encoded twice (once as the array length,once as the "terminating" zero). The code is missing a check when the list is empty (we should not encode anything but the "termi

[2018-08-05 12:36] #45 closed

[2018-08-09 18:38] laslowh commented on #49
Thanks so much for the fix!  Would you consider cutting a new release?

On Mon, Aug 6, 2018 at 8:19 AM, Flavien Raynaud <notifications@github.com>
wrote:

[2018-10-30 06:03] samschlegel commented on #47
Avro fields are resolved by name not order, so reordering field order is completely legal according to the [Schema Resolution rules.](https://avro.apache.org/docs/1.8.1/spec.html#Schema+Resolution) I haven't looked into `avro-rs` at all so I'm not sure how much work this would be, but [this](https://avro.apache.org/docs/1.8.1/api/java/org/apache/avro/io/ResolvingDecoder.html) is how it's done in J

[2018-12-01 19:54] mikaelstaldal opened #56 "Snappy codec does not work"
When writing Avro data with the Snappy codec, it cannot be read by the Java implementation from Apache. And vice versa.

To reproduce, run this Rust program and redirect stdout to a file (`snappy.avro`):
[code]

[code]

Then run
[code]

I get this error:
[code]

(If I use Null or Deflate codec, it works as expected.)

[2018-12-01 20:33] mikaelstaldal commented on #56
I think the problem is that arvo-rs uses the Snappy frame format (Reader and Writer from the snap library). It should use the raw format (Encoder and Decoder from the snap library). And also handle the CRC32 checksum (I don't think the snap library does that).

[2018-12-01 20:36] mikaelstaldal commented on #56
Here is an example of a working Avro snappy decoder in Rust, using the same snap library:
https://github.com/dflemstr/rq/blob/master/serde-avro/src/de/read.rs#L129_L152
(Encoder is left as an exercise for the reader.)

[2018-12-04 18:38] #56 closed

[2019-01-04 21:52] jdeschenes opened #61 "Unions: Support Many Named Types"
As per the Avro spec, it should be possible to have multiple named types in a union. See #60 for a use case.

[2019-01-04 21:55] jdeschenes opened #62 "Auto Schema Creation from the struct"
It would be beneficial to generate the schema automatically from the structure. For example,

[code]

I am not 100% sure on how the design should look like. Do you have any suggestions?

[2019-01-07 10:47] flavray commented on #62
Agreed that would be nice to have.

I remember giving some thought to it a few months ago:

- Have a new trait:

[code]

- Extend the crate with a [custom derive macro](https://doc.rust-lang.org/book/ch19-06-macros.html#how-to-write-a-custom-derive-macro), using `dyn` to automatically generate code for the trait

----

Another approach (not as fancy as the first one, but maybe easier to implement)

[2019-02-23 00:34] Pritesh-Patel commented on #47
I just ran into this - was pretty confusing, if the plan is to stick this - it would be helpful if it was mentions somewhere.

[2019-03-06 13:20] jiak94 opened #66 "What type should I used for "bytes""
currently, I am using `Vec<u8>`, but when serialize the data, I get an error of `value does not match schema`

[2019-03-06 17:01] portstrom opened #67 "Unsafe code to transmute floats"
Unsafe code is used to transmute data between floating point numbers and bytes. This is unsafe for a good reason, as it encourages not caring about endianness. Better use the safe methods [f32::from_bits](https://doc.rust-lang.org/std/primitive.f32.html#method.from_bits), [f32::to_bits](https://doc.rust-lang.org/std/primitive.f32.html#method.to_bits), [f64::from_bits](https://doc.rust-lang.org/std

[2019-03-06 17:15] portstrom opened #68 "Lengths are cast to unsigned unchecked"
Lengths are first decoded as `i64` and then cast to `usize` without checking that the conversion makes sense. This has weird effects, such as producing an allocation error instead of a parse error, or on 32 bit platforms interpreting the length 4294967300 as a nice little array of four items.
https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/decode.rs#L23

[2019-03-06 17:20] portstrom opened #69 "Negative block lengths are not handled"
The special meaning of negative numbers for block sizes is not handled as required by the [specification](https://avro.apache.org/docs/current/spec.html#binary_encode_complex).
https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/decode.rs#L82
https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/decode.rs#L101

[2019-03-06 17:25] portstrom opened #70 "Union tags are cast unchecked"
Union tags are cast from `i64` to `usize` when decoding without checking that the conversion makes sense. This has weird effects, such as on 32 bit platforms interpreting the tag 4294967300 as a 4. https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/decode.rs#L124

[2019-03-06 17:27] portstrom opened #71 "Enums are cast unchecked"
Enms are cast from `i64` to `usize` when decoding without checking that the conversion makes sense. This has weird effects, such as on 32 bit platforms interpreting the enum 4294967300 as a 4.
https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/decode.rs#L145

[2019-03-06 17:31] portstrom opened #72 "Errors hold strings"
All errors hold a string as their contents. Better hold an enum to make it more semantic and to avoid unnecessary memory allocation and string copying, or at least use a `'static str`.
https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/de.rs#L14
https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/ser.rs#L29
https://github.com/flavr

[2019-03-07 01:04] jiak94 commented on #66
This method actually don't work. Still waiting for solution.

[2019-03-07 20:14] flavray commented on #66
Do you have a code snippet causing the serialization issue? 🙂
Serializing a `&[u8]` should give you a `Bytes` object. See [here](https://github.com/flavray/avro-rs/blob/7b820c13a1f25c7fd35850a6fed921aabc3ed103/src/types.rs#L114)

[2019-03-08 00:43] jiak94 commented on #66
What I've done is:
### Schema
[code]

### struct
[code]

### serrialize function
[code]
[code]

[2019-03-09 13:04] flavray commented on #66
There was a bug in the resolving process that was preventing `Vec` to be interpreted as `Bytes`. I've released `v0.6.5` with a bugfix.

The way to go for your case should be:

[code]

[2019-03-13 06:36] ianpurton opened #74 "Update readme example to reflect rust 2018 and smooth onboarding."
To make the example on the front page work we say add to your cargo.toml

Actually I needed to do this.

Then the example code in the readme uses the older rust syntax

    extern crate avro_rs;

    #[macro_use]
    extern crate serde_derive;
    extern crate failure;

    use avro_rs::{Codec, Reader, Schema, Writer, from_value, types::Record};
    use failure::Error;

With rust 2018 we can repla

[2019-03-13 10:10] ianpurton opened #75 "Error: ParseSchemaError("Unknown type: enum")"
I'm not sure of the status of enum, but not working for me with the following example using avro-rs 0.6.5

[code]

Gives

[2019-03-14 23:19] RGafiyatullin commented on #75
I'm not totally sure, but it seems to me that it should go as follows:
[code]

https://avro.apache.org/docs/current/spec.html#schema_record :

So there can be only four valid attributes on the level you mean to define a record-field.

[2019-03-19 12:26] ianpurton commented on #75
Closing as it works with the schema specified as above.

[2019-03-19 12:27] #75 closed

[2019-03-19 21:41] RGafiyatullin commented on #75
Oh, anytime! :)

[2019-03-20 05:36] ianpurton commented on #75
@RGafiyatullin Sorry. I tried your example and it worked for me. Thanks.

[2019-03-22 13:12] laslowh opened #77 "Problem encoding large values in long"
This code appears to fail the test. It's a round trip encoding/decoding of a large integer value. The value is larger than an 2^32 but smaller than 2^63.

[code]

When run with `cargo test` the result is:

[code]

[2019-03-22 16:48] laslowh commented on #77
I think maybe this is the problem, although I have to admit I don't really understand what that code is doing.

[code]

[2019-03-24 10:42] flavray commented on #77
I tried to reproduce with the latest version (`0.6.5`) and was not able to. The code compiles correctly and this new test passes without panicking.
What version of the library are you running?

[2019-03-24 15:41] #74 closed

[2019-03-24 15:42] poros commented on #74
Fixed in #78

[2019-03-24 16:07] poros commented on #18
I had a look at the tests and the vast majority depends on features of the python library that I didn't even know existed (irpc, protocols, tether, etc).

The few ones that are still interesting are https://github.com/apache/avro/blob/master/lang/py/test/test_io.py and https://github.com/apache/avro/blob/master/lang/py/test/test_schema.py.

[2019-03-25 12:58] laslowh commented on #77
Version 0.6.0.  I will try against the latest. Thanks.

[2019-03-25 15:16] laslowh commented on #77
Yes, you're correct, it was fixed by 9492d6c38a3ef6206ec0a82192a08a493864fe6a sorry for the trouble, closing.

[2019-03-25 15:16] #77 closed

[2019-03-26 07:08] ianpurton opened #79 "Combination of Option type and doc attribute causes parse error."
I'm get an issue when combining nullable types i.e. Option<i64> and doc comments. The code below will fail with

    Err(Error { message: "not a union" })

However, if you remove the doc comment from the raw schema it will start working again.

Thanks.

[code]

[2019-03-26 09:05] ianpurton opened #80 "Is it possible to Serialize/Desialize rust enums?"
Support for rust enum?

I appear to be able to serialize a struct with an enum, but can't deserialize. Is this feature supported?

Code below gives

    Err(Error { message: "not an enum" })

Test code.

[code]

[2019-03-28 11:07] RGafiyatullin commented on #80
Here's an attempt to add that functionality: https://github.com/flavray/avro-rs/pull/76

[2019-04-10 05:17] tekjar opened #82 "Error types"
Most of the apis are returning failure::Error. How about reexporting it? Or implementing much more concrete errors?

[2019-04-10 10:02] poros commented on #82
Fair point. I believe the library has three errors re-exported atm, but we
can definitely add more if needed.

What are the functions that you are using which are returning just a
generic error?

On Wed, Apr 10, 2019, 06:17 Ravi Teja <notifications@github.com> wrote:

[2019-04-17 12:16] tekjar commented on #82
I'm just getting started. Using [schema parse](https://docs.rs/avro-rs/0.6.5/avro_rs/schema/enum.Schema.html#method.parse_str), [writer append](https://docs.rs/avro-rs/0.6.5/avro_rs/struct.Writer.html#method.append) and [writer flush](https://docs.rs/avro-rs/0.6.5/avro_rs/struct.Writer.html#method.flush)

[2019-04-19 17:43] poros commented on #82
Ah, I see now. I think I didn't quite understand how to use the failure
crate. Let me pick it up.

On Wed, Apr 17, 2019 at 2:16 PM Ravi Teja <notifications@github.com> wrote:

[2019-04-19 18:47] poros commented on #82
@flavray I guess that if we want to make this better, one way would be to switch to the [Error/ErrorKind pattern](https://boats.gitlab.io/failure/error-errorkind.html).

I went through some of the crates listed on the [serde landing page](https://serde.rs/) and all of them define their own custom errors, like [toml](https://docs.rs/toml/0.5.0/toml/ser/enum.Error.html). We could also do the same an

[2019-06-17 17:22] rahulravindran0108 commented on #82
The enum variant pattern should work. We can use the failure crate to do so - although there is a big argument to go away from that pattern [here](https://github.com/rust-lang-nursery/rust-cookbook/issues/502#issue-387418261). I can take a shot at this and make a PR ?

[2019-06-18 19:33] poros commented on #82
I would be OK with the enum approach and I would be very happy to have new
contributors. @flavray must be on-board with the decision, too, though. He
is the lead maintainer and this is a major version bump.

@flavray: waiting on your reply

On Mon, Jun 17, 2019, 18:22 Rahul Ravindran <notifications@github.com>
wrote:

[2019-07-05 12:03] ali2992 opened #85 "Partial deserialisation - ignore unknown?"
Hi,

Apologies if I have missed anything but is partial deserialisation currently supported/in the pipeline?

I.e if I have a complex schema containing records with many fields, can i deserialise into a struct with only 2 of the fields declared - the others are simply skipped? Equivalent to ignore unknown?

[2019-07-20 23:03] gklijs commented on #30
@nmaki I wasn't aware of this issue, I had a similar wish and created https://github.com/gklijs/schema_registry_converter which handles the schema registry stuff, and uses this library for the avro part.

[2019-07-20 23:40] gklijs commented on #66
Not sure if this is the correct place, but I ran into trouble serialising to bytes, when the schema contains a fixed value. Instead of a `Value::Fixed` to_value will create a `Value::Array` and the resolve also doesn't fix it, while I think it should. So
[code]
Should also match on `Value::Array` I think. (And the copy/paste in the error should be corrected String -> Fixed)

[2019-07-23 06:36] gklijs commented on #66
@flavray
My solution to properly handle fixed values, as the create an Array of Value::Int currently:
[code]
Copied some logic from resolve to make it work transitively.

[2019-07-23 06:42] gklijs commented on #85
You can implement defaults for those, or let them be derived, that should already work I think.

[2019-07-29 14:13] ali2992 commented on #85
I should clarify, in this situation I am reading using a schema packed at the start of the file, but I don't want to define a struct with 30 odd fields in it if I only need 3. The deserialisation library currently throws an error if the output struct does not contain a matching field of the correct type

[2019-07-29 18:41] gklijs commented on #85
I understood it the other way around.
I think you could use from_avro_datum function in reader.rs, filter out the tuples from the record, and then use from_value from de.rs. but that seems overly complicated. I'm matching on the raw from_avro_datum values to 'fix' the problem with fixed and enums [here](https://github.com/gklijs/obm_confluent_blog/blob/81068610271a118f42fbc7c127d1bebd37e3735f/comm

[2019-08-02 09:49] nlopes opened #86 "Compatibility"
Are there any plans to implement compatibility functions?

On the off chance that anyone reading that has already done this in some other repo, could you point me to it?

[2019-08-05 09:11] ali2992 commented on #85
I have done that, defined a macro that extracts the struct fields and uses that list to filter the tuple - and that works ok but feels hacky and gets really messy for complex data formats. Support in the deserialiser for ignore unknown would be beneficial - I can take a look if directed where to start

[2019-08-05 13:45] gklijs commented on #85
I guess you need to do change https://github.com/flavray/avro-rs/blob/c4971ac08f52750db6bc95559c2b5faa6c0c9a06/src/de.rs#L267 where you want to skip deserialisation for the parts not in the struct.

[2019-08-07 10:02] ali2992 commented on #85
Added support in #87

[2019-09-02 11:15] nlopes commented on #80
Any movement on this? I have an incoming PR for Schema Compatibility that would gain a bit by having this PR in.

[2019-09-02 11:24] nlopes commented on #86
I've taken a stab at this at https://github.com/flavray/avro-rs/pull/88

[2019-09-24 14:32] ali2992 opened #89 "Record type deserialisation performance"
I've been doing work with very large avro datasets and comparing performance with existing Java implementation, originally performance was very poor, over 3x slower for the same workload. I implemented zero-copy deserialisation which helped substantially but performance was still 2x slower for the Rust impl. I have since modified my fork of avro-rs to treat Record field names as `Rc<String>` to st

[2019-10-04 04:18] CtrlC-Root commented on #61
This is a significant limitation in the current implementation of this crate. Between the lack of support for Avro protocols and unions of multiple named types it's pretty much impossible to have a sane schema for IPC. I'll look into adding support for the latter through a pull request but I'm still new to Rust so I'm not sure how much effort that will involve.

[2019-10-04 04:21] CtrlC-Root commented on #61
Actually it seems #76 adds support for this.

[2019-10-13 15:43] poros opened #91 "Figure out why "type": "error" seems to be valid and support it"
Porting tests over from the official Avro python package (see #18 ), I found out that there is one specifying `"type": "error"` instead of `"type": "record"`. The spec doesn't mention it explicitly, but there is an example where this mysterious type is used.

Let's figure out why this type is valid and support it.

[2019-10-13 15:49] poros opened #92 "Properly support recursive types"
Porting tests over from the official Avro python package (see #18), I noticed that recursive types aren't properly supported (for very simple use cases the schema parsing doesn't crash, but I am not even sure encoding would actually work).

Let's support recursive types for real.

There are already some tests to uncomment which cover the issue; they can be found grepping for the issue number.

[2019-10-13 15:54] poros opened #93 "Support logical types"
Avro defines a set of special types built on top of regular types called [logical types](https://avro.apache.org/docs/current/spec.html#Logical+Types) which this package doesn't yet support.

There are already some tests to uncomment which cover the issue that have been backported from the official Avro Python package in #18; they can be found grepping for the issue number.

[2019-10-13 16:03] poros opened #94 "Support user-defined attributes"
Avro allows users to specify arbitrary attributes (as long as they don't clash with reserved keywords and attributes) that can be attached to types and schemas, which this library doesn't yet support.

Please note that these are different from the attributes like `precision` or `scale` which are attributes defined by logical types and which are already covered by #93.

There are already some tests

[2019-10-13 16:09] poros opened #95 "Support same types but with different names in unions"
Porting tests over from the official Avro python package (see #18), I found out that Avro allows unions to contain more than once the same type (only for record, fixed and enum) as long as they specify different names.

Quoting the spec:

There is already a test to uncomment which covers the issue; it can be found grepping for the issue number.

[2019-10-13 16:13] poros opened #96 "Investigate failures in tests covering default values"
Porting tests over from the official Avro python package (see #18), I found out that we are failing 4 test cases covering default values assigned to fields while reading. This is probably the symptom of one or more bugs in the way the library implemented support for default values.

The test cases can be found grepping for the issue number.

[2019-10-13 16:17] poros commented on #18
I found a good bunch of test failing which highlighted both bugs and incomplete support of the spec (at least in the areas we are interested in supporting). I opened a bunch of issues to track them.

Together with some regression testing coverage, discovering these issues is probably the best thing we can get out of this whole backporting exercise.

[2019-10-13 16:29] poros commented on #95
This is very likely a duplicate of #61

[2019-10-13 16:32] poros commented on #96
One of this bugs might be the cause of what's reported in the last comments of #66

[2019-10-13 16:34] poros commented on #67
Thanks for reporting this (and the same goes for the other issues)!
It seems actually a pretty easy fix, so it might be good for people who want to start to contribute or who have a little break time dedicated to open-source.

[2019-10-13 16:37] poros commented on #72
#82 covers a broader refactor of error handling in the library, so this could be worked on in tandem with that ticket.

[2019-10-13 16:38] poros commented on #82
#72 proposes an improvement to `String` being used as error content. I believe it makes sense to tackle the two issues together (#72 might actually not make sense after the refactoring anyway)

[2019-10-13 16:45] poros commented on #92
It seems that there is already a pull request open: #53

[2019-10-13 16:46] poros commented on #93
There is already an old pull request: #63

[2019-10-13 16:49] poros commented on #95
There are two related pull requests: #76 and #90

[2019-10-20 13:06] #18 closed

[2019-10-24 18:06] sdrafahl opened #98 "Not using the Codec?"
So I am trying to write the snappy compressed Avro to a file. I am giving the write from the given example the Snappy codec.

`let mut writer = Writer::with_codec(&schema, Vec::new(), Codec::Snappy);`

When I print what into_inner(); returns I see a vector printed with integers in it. I can only assume that is the avro encoded or something. However when I change the codec to Codec::Null the vector

[2019-10-25 09:47] poros commented on #98
Just to make sure everything is in order, did you turn the `snappy` feature on in your `Cargo.toml`?

[2019-10-28 00:39] sdrafahl commented on #98
@poros I did, I ended up just manually compressing it with a different Snappy library on top of the avro encoding. That worked but before my cargo had.

[code]

[2019-11-19 10:47] ttencate opened #101 "Support for writing Option values as Avro union types"
Using avro-rs version 0.6.5:

[code]

This would be the canonical way to indicate a nullable field in Avro. However, when serializing, it produces the error `ValidationError("value does not match schema")`.

Even if I change the definition of `bar` to be just `String` instead of `Option<String>` I get the same error, although strings are a subset of legal fields according to the schema.

(As an as

[2019-11-19 12:22] ttencate commented on #101
Please ignore, I made a typo and this is actually working fine, sorry for the noise!

[2019-11-19 12:22] #101 closed

[2019-11-20 10:46] ttencate commented on #62
I tried the second approach because I could in principle do it inside my own crate, but it doesn't seem to be possible.

I required a `Default` implementation for the type to be serialized, then created a dummy `default()` value to pass through my `Serializer`. However, you don't get enough data that way to construct the schema. For example, to get the type of an optional value, you need a `Some`

[2019-12-22 21:00] #69 closed

[2019-12-31 13:21] poros commented on #98
@sdrafahl I tried to reproduce what you described above about `Codec:Null` and `Codec:Snappy` giving back the same vector as result of `Writer::into_inner`, but they are different in my experiment:

[code]

[code]

Is it similar to what you were trying? Can you show me what you did?

In addition, the end result won't be valid snappy because of the avro magic bytes and headers, but the payload shou

[2019-12-31 16:03] poros commented on #96
I spent some time trying to understand the error due this default value for `bytes`:
[code]
which fails with
[code]

What we get is the UTF-8 value for the unicode character `\u00FF` (see https://www.fileformat.info/info/unicode/char/00ff/index.htm), as we call `Value::String(s) => Ok(Value::Bytes(s.into_bytes()))` in `Value::resolve_bytes`.

However, the Avro spec decides for a different conventi

[2019-12-31 17:05] poros commented on #96
The test case
[code]
seems to be passing, instead. I'll uncomment it on master.

[2019-12-31 17:44] poros commented on #96
At last, regarding
[code]

it fails because the default is read form JSON as `Long` while the first type in the enum is `Int`:

[code]

The spec says:

I assume that the word "match" has to be intended in the sense of matching in the context of resolution, which adds one level of recursion to everything... :/

[2019-12-31 19:20] poros commented on #96
An easier option would be to special case the default parsing when we parse the schema for union, bytes and fixed to address these specific problems and leave everything else as it is.

[2020-01-23 20:43] poros commented on #98
I am going to close the issue for now, as I cannot really reproduce it. But if you still have this problem, please do not hesitate to reach out again.

[2020-01-23 20:43] #98 closed

[2020-02-14 08:51] amrx101 opened #105 "Create Avro Writer with schema file."
Are there any examples where we can create an `Avro Writer` whose schema is declared in a `.avsc` file?

[2020-02-14 09:00] #105 closed

[2020-02-14 09:01] amrx101 commented on #105
Closing this as  `FileIo` can be done separately and its result be provided to `Schema` to create a new schema.

[2020-02-14 09:41] amrx101 opened #106 "Optional values missing in Record causes ValidationError."
fn main() -> Result<(), Error> {
        let raw_schema = r#"
            {
                "type": "record",
                "name": "test",
                "fields": [
                    {"name": "a", "type": "string"},
                    {"name": "b", "type": "string"},
                    {"name": "c",  "type": ["null", "string"]}
                ]
            }
        "#;

        let sche

[2020-02-16 23:32] poros commented on #106
Two things at play here.

One is a bug that has been fixed in master ( #103 ) but that I have yet to release. I was waiting for another PR to land, but I'll just release a patch version now since it is bothering you.

Although, I think that the avro spec and your expectations do not exactly match. You can read more about unions at https://avro.apache.org/docs/current/spec.html#Unions and about def

[2020-02-18 21:52] jaketarnow opened #107 "value: ParseSchemaError("Unknown type: array")"
I am running `avro-rs = "0.6.6"` to go in line with `rdkafka = "0.20.0"` and `rdkafka-sys = "0.11.6-1"`.

When writing the data and performing schema validation, it fails on unknown type array:
```writer.append_ser(line).unwrap();```

An example of the part of the schema that has an array is:
[code]

Any help would be greatly appreciated!

[2020-02-19 00:10] jaketarnow commented on #107
Disregard this, got it working.

[2020-02-19 00:10] #107 closed

[2020-02-19 15:54] mlh758 opened #108 "Union null/bytes with from_value"
I have a field of type: ` "name": "value","type": ["null", "bytes"]` as part of a record. avro-rs decodes the record fine, and if I do a `println!` I see the value as `("value", Union(Bytes([8, 128, 144, 194, 193, 24...`

However, it's not clear to me how this can then be consumed. It seems like:
`let data: Option<Vec<u8>> = from_value(rec).unwrap();`
would be the way to go since the union is null

[2020-02-23 01:10] #106 closed

[2020-02-23 02:34] poros commented on #108
I am afraid there is a bug with the serde deserealization of bytes. With the following tests:
[code]

I get:
[code]

I suspect that we are seeing two different bugs.

In case of the record field, deserializing of bytes gets forwarded to [deserialize_any](https://github.com/flavray/avro-rs/blob/3417ccd2dc11b0bf419d426998551808a91ab191/src/de.rs#L114) instead of [deserialize_bytes](https://github.co

[2020-02-24 03:17] mlh758 commented on #108
I can't speak for other users on this one, I my use case was all about reading a bunch of existing Avro records.

I've only been a consumer of serde code up to this point so I would have to do some research before I could make any comments on how to help. I was hoping I was just using the library wrong. For the moment I've switched to a Python library and probably won't be able to contribute back

[2020-02-26 20:43] praetp opened #109 "Cannot parse schema with type cross-referencing"
[code]
This panics with `ParseSchemaError("Unknown type: mytype")`.
When I "inline" the type, it works.

If you want I can write a test for it.
Not sure if this related to https://github.com/flavray/avro-rs/issues/92.

[2020-02-29 13:21] poros commented on #109
Yes, this one is indeed a duplicate of #92. I am going to close this issue as duplicate in order to keep any future discussion on the same thread.

[2020-02-29 13:21] #109 closed

[2020-03-03 01:03] codehearts commented on #47
I've changed the record validation loop to this just to remove the ordering constraint, although this implementation isn't the cleanest. This issue makes it difficult to enforce the presence of fields with a common `Event` struct when pre-existing schemas may not be in the same order, which is something I've been dealing with

[code]

[2020-03-23 00:05] cpcloud commented on #108
This isn't a bug in `avro-rs`'s `Deserializer` implementation, it's a known limitation in serde: https://github.com/serde-rs/serde/issues/518. In the meantime, you can use the wrapper types in [`serde_bytes`](https://github.com/serde-rs/bytes) (`Bytes`, `ByteBuf`) to force a call to `(de)serialize_bytes`/`(de)serialize_byte_buf`. You can also slap a `serde(with = "serde_bytes")` on a field to ser/

[2020-03-28 12:10] cpcloud opened #115 "Move to thiserror for errors"
`failure` is leaking into the public API and forcing downstream consumers to either `Box` up the failure error or depend on `failure` if they want to explicitly handle the error.

Moreover, error types do not have any precise information in the type about what went wrong. `thiserror` would allow us to provide very specific error variants, as well as avoiding leaking types into the public API and l

[2020-04-01 23:18] poros commented on #108
Ah, good to know! I could not really find a way to fix it! Thanks @cpcloud .

I'll leave this one open until we have a couple tests and we update the docs.

[2020-04-01 23:29] poros commented on #115
I have used failures too much to like it, but at the same time I became kinda skeptical of any new rust error-handling library :/
At a first glance it looks like to be a good one, but before embarking in such a big change, maybe I would wait to see if the Rust community converges on something ;)

[2020-04-02 00:18] cpcloud commented on #115
The main issues here IMO are the inability for dependents to get more specific error messages, and leaking the failure dependency if you don't want to box everywhere. The convenience of error reporting the way its currently done in avro rs is really for applications, whereas library errors should be as specific and efficient as possible.

[2020-04-10 08:45] ajayrathore opened #117 "Failing to decode record type referencing an enum"
Seems like avro-rs library cannot parse following message

[code]

I get following error

thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err` value: SRCError { error: "Could not parse schema", side: Some("Failed to parse schema: Unknown type: myflag"), retriable: false, cached: true }', src/receiver.rs:84:19
note: run with `RUST_BACKTRACE=1` environment variable to display a back

[2020-04-11 16:20] poros commented on #117
Yeah, the library has no support for recursive types yet :/
Closing as duplicate of #92

[2020-04-11 16:20] #117 closed

[2020-04-24 12:01] amrx101 commented on #106
Sorry for really late response.

1. 103 actually the union resolution does solve my issue.

2. As per the mismatch of schema between Reader and Writer doesn't really apply for me as I control the both ends of the schema.

[2020-04-24 14:16] cpcloud commented on #67
@poros This issue was addressed in https://github.com/flavray/avro-rs/pull/113 and can be closed.

[2020-04-24 14:22] cpcloud commented on #80
This is not possible for an arbitrary Rust `enum`. Rust `enum`s are more generic than C-style `enum`s: each variant can contain arbitrary data.

[2020-04-24 14:46] cpcloud commented on #89
Another approach might be to use [`std::borrowr::Cow`](https://doc.rust-lang.org/std/borrow/enum.Cow.html)

[2020-04-24 18:41] poros opened #120 "Use cargo-sync-readme to avoid duplicating README and lib.rs docs"
@cpcloud suggested:

[2020-04-24 19:00] #67 closed

[2020-04-25 00:17] cpcloud commented on #93
@poros Can this issue be closed?

[2020-04-25 00:36] poros commented on #93
Oh, I thought it did automatically. Good catch!

[2020-04-25 00:36] #93 closed

[2020-04-25 12:44] cpcloud opened #121 "Incorrect logical type implementation according to specification"
The spec says that unknown or invalid logical types should be ignored when reading and that instead the underlying type should be used:

The current implementation does not respect this and will return an error in cases such as a decimal scale being greater than its precision.

[2020-04-25 12:46] cpcloud opened #122 "Logical types cannot be backed by a [null, T] union"
cc @AustinHunt

This prevents nullable logical type values from being written.

[2020-04-25 12:57] cpcloud commented on #122
@AustinHunt according to https://github.com/apache/avro/pull/329/files#diff-fd4b8a3427b9b38bda3e310e0871378c, the correct way to specify nullable logical types is not with

[code]
but with

[code]
This _can_ currently be parsed successfully by `avro-rs`. I'm investigating read/write paths for this now.

[2020-04-26 16:06] cpcloud commented on #89
@ali2992 Can you provide the schema that used to benchmark?

[2020-04-26 19:35] #122 closed

[2020-04-26 20:04] poros commented on #89
#99 (which haven't been merged so far, but looked very promising) uses [string_interner](https://docs.rs/string-interner/0.7.1/string_interner/) to cache strings in the schema for both enums and records. Perhaps there is a way to re-use that concept without merging the entire PR?

As a general concept, though, I am not that sure that making the interface more complicated for the users is the right

[2020-04-28 09:30] amrx101 commented on #106
@poros , in which version is this available or should I use master itself?

[2020-05-02 19:37] poros commented on #106
I recommend you use the latest version, but it should be available from version 0.7.0.

[2020-05-02 19:39] poros commented on #106
As it isn't in the avro spec (at least, as far as I can understand the spec, which is indeed a quite contrived at times), I don't plan on supporting nullable values on the writer side any time soon.

[2020-05-06 09:14] amrx101 opened #127 "Btree map serialization results in error."
Are map type supported?

      {
            "type": "record",
            "name": "test",
            "fields": [
                {"name": "a", "type": "long", "default": 42},
                {"name": "b", "type": "string"},
                {"name": "additional", "type": {"type": "map", "values": "string"}}
            ]
        }

Herein the struct test has a third parameter called additional wh

[2020-05-08 13:05] poros commented on #127
I don't see any theoretical impediment to serializing `BTreeMap`, but your code clearly shows that this doesn't work atm.

We do have a bunch of tests on schema validations of maps and one for the encoding of `Value::Map`, but I cannot find any covering native rust types serialization and deserialization. There might be a bug with all kind of maps or perhaps some serde method we did not implement

[2020-05-08 16:32] amrx101 commented on #127
@poros , I did some tests, `HashMap` does actually work. I would be happy to help if provided some pointers(especially what you or someone familiar with code-base would have done).

[2020-05-08 17:29] poros commented on #127
It would be great if you could add your tests for `HashMap` (and then for `BTreeMap` once it works) to a place like `writer.rs`.

As for discovering where the problem is, I would start from `ToAvro` in `types.rs` as the error says and, in case it is not there, maybe move to `ser.rs` or `de.rs`.

[2020-05-09 05:54] amrx101 commented on #127
@poros , Thanks for pointers.  I have a question though, the `Value` enum in `types.rs` maps the `Avro map` type to Rust `HashMap` and implements `ToAvro` trait for `HashMap`. I believe I need to implement the `ToAvro` trait for `BtreeMap`. What I am confused about is how do we allow the `Avro Map` type to correspond to  both `BtreeMap  and HashMap`  ? Any ideas there?

[2020-05-09 11:51] amrx101 opened #128 "Batching & Compression[HELP + INFO Request]"
I would like to know what is the recommended practice for `Writer` with a `Codec`. If say we have a thousand items of a particular record, are we suppose to `append_ser` each record iteratively rather than a batch insert? If so when does the compression codec kicks in, upon `flush`?

P.S. Sorry for the trivial question.

[2020-05-14 01:24] mlh758 commented on #108
I had some free time to mess with this again. Using serde_bytes did the trick and I was able to read a message into my struct. An example in the docs or a unit test demonstrating this would be great but I'm happy to have something working.

[2020-05-16 12:28] #128 closed

[2020-05-22 17:53] nschoellhorn opened #130 "Map JSON Objects to Record instead of Map"
I noticed that the implementation for `ToAvro` on the serde_json `Value` type maps values of type `Object` to the Avro value `Map` instead of the complex type `Record`. Is there a specific reason for that? As far as I can tell, the `Record` type for Avro schemas is much more common in the definition than maps. Could we change the implementation to map `Record` instead? I'd be happy to contribute t

[2020-05-29 20:01] poros commented on #128
That was actually not a trivial question at all! I had to look back at the code to answer, given that I haven't written the Codec implementation.

Compression indeed happens over the invocation of [`flush`](https://github.com/flavray/avro-rs/blob/5acbfbfbc53a58774a8492a284ebca3a6670d52c/src/writer.rs#L243) over the stream of bytes in the buffer. `flush` gets also called when the [buffer size grows

[2020-05-29 20:07] poros commented on #130
It's been a few years since the original implementation, but I *think* that the rationale was that `Object` in JSON is very generic and not schematized, so we thought that `Map` (with the key being a string, like in JSON) was a closer fit than `Record`. I think that making it a `Record` *might* be pretty tricky, with fields that could be missing from one instance to the other.

Perhaps @flavray re

[2020-05-31 13:40] #120 closed

[2020-06-04 10:49] nschoellhorn commented on #130
For this problem, can we maybe make use of the Avro schemas? If we let the user provide one when going from JSON value to Avro value, we could get from the schema if it's defined as a record?

[2020-06-04 12:27] dcreager commented on #130
I think you _could_, but I agree with @poros that it's not really the right thing to do.  Using an Avro map means that you've actively decided that you need to support a possibly different set of keys in each instance.  If you have a specific structure, you'd use a record instead.

It's the same on the serde_json side.  Using `serde_json::Value` indicates that you want to support a possibly differ

[2020-06-04 20:40] nschoellhorn commented on #130
Hmm, yeah, I understand what you are saying. What would be the option to go from user input (which is completely dynamic) to an Avro Value? Like, user specifies a schema they want to follow and then input a document of some kind and I want to convert it to Avro and send it out?

Currently, I am taking the user input as JSON, which is how I came up with this problem, but maybe there is a better sol

[2020-06-04 21:08] dcreager commented on #130
Ahh yes, now I see what you're saying!  For that, Avro defines a [JSON encoding](https://avro.apache.org/docs/current/spec.html#json_encoding) to go along with the binary encoding.  And some of the other language bindings have a helper tool that reads in a bunch of JSON values and converts them to a binary Avro file according to some schema.  The exact same JSON input can give you completely diffe

[2020-06-05 07:35] nschoellhorn commented on #130
Interesting approach and thoughts, thank you for your input. I'm gonna take a look into that after work :) maybe I can come up with something that's worth a PR.
I'll keep this issue updated.

[2020-06-08 19:52] athre0z commented on #115
FWIW, failure is now officially deprecated:
https://github.com/rust-lang-nursery/failure/pull/347

With all new error handling libs being built around `std::error::Error`, it's not insanely important what library the community converges towards. Whether you use `thiserror` or any other of the new libs, other than with failure, the errors can just be converted into a common `Box<dyn std::error::Err

[2020-06-10 01:11] cpcloud commented on #115
The specific library doesn't matter. What matters is the way that errors are presented to dependents IMO. The way in which `failure` is used in `avro-rs` precludes dependents handling errors in a way that is appropriate for their use.

[2020-06-17 15:13] amrx101 commented on #127
@poros any pointer on the previous comment would be great. Thanks

[2020-06-19 10:25] poros commented on #127
If I understand your original request correctly, I don't think you are interested in changing the internal implementation of the `Value` type, but only allow a conversion from and to `BtreeMap`. As I mention before, I think you could at least allow conversion from `BtreeMap` by implementing the `ToAvro` trait for such a type.

[2020-06-20 06:03] amrx101 commented on #127
@poros , noted. Will do so and add tests for it as well.

[2020-07-03 15:43] poros commented on #115
I have been following a bunch of discussions in the community and it does indeed seem that `anyhow` and `thiserror` don't have a clear path to obsolescence in front of them for now, neither there are other "big" enough players to choose from (mark my words, a new revolutionary crate will be announced the minute after I hit "Comment" 😛 ).

Agreed, let's move to `thiserror` and this time let's make

[2020-07-05 14:50] gklijs opened #139 "Add a parser, to enable references to other schema's"
I'm currently busy on working to the next release of https://crates.io/crates/schema_registry_converter. With the latest confluent platform it has become possible to refer to other schema's. For Java they use a parser from the Avro client, which can takes multiple schema's and combine them.

An example of the use in the Java client can be seen here:
https://github.com/confluentinc/schema-registry/

[2020-07-05 17:22] poros commented on #139
I am not familiar with the Confluent platform, but I think that what you would like to see it would need the features tracked in issues #92 and #95 to be implemented. There is a big open PR #99 which was trying to address them, but it never landed and became quite a bit stale now.

Short answer is: not with the current version of the library, I am afraid :(

[2020-07-05 17:37] gklijs commented on #139
Thanks for the quick response. It's indeed not Confluent platform specific. And seems like it should be fixed with those issues.

[2020-07-05 21:52] gklijs commented on #139
Closing this one, since there are already other related issues. I'm fixing it for now by transforming it with serde_json, and based on the namespace values, replace the Value::String with a reference for a copy of the reference json. https://github.com/gklijs/schema_registry_converter/blob/71cbc305a019e59f7411ea3656c8eb4123daac60/src/avro.rs#L446

[2020-07-05 21:52] #139 closed

[2020-07-06 15:17] alexbiehl opened #140 "Support writing Avro containers asynchronously"
Currently `avro_rs::Writer` expects the underlying writer to implement `std::io::Write` use in streaming environments with futures/async_std/tokio.

I know the ecosystem is a little scattered but it would be great if avro_rs supported one of the asynchronous write interfaces like `tokio::io::AsyncWrite` or `async_std::io::Write`.

[2020-07-09 17:06] stuartweir opened #141 "Streaming Apache Avro (Question, not a bug)"
Hi there!

I'm newer to rust, but I have a bit of experience working in the language now (I'm currently writing a Proof of Concept in the language), and I'm considering using Avro as my defacto data format to store data I want to run calculations on. The reason is that, when profiling using JSONL, roughly 75% of the run time of the calculations I'm running is simply SerDe Deserialize operations. T

[2020-07-10 00:11] poros commented on #141
Hi @stuartweir , I don't know much of the streaming use case you have in mind so I am a bit shooting in the dark here.

Avro has this concept of Writer which is an abstraction on top of a I/O buffer. You can append one value (or record, if you want to use an actual avro record) at the time and avro will encode it and periodically flush it to the buffer. If that's what you are looking for in your s

[2020-07-10 00:13] poros commented on #141
Oh yes, I forgot to mention that also the reading happens one block at the time through the Reader interface, so you won't have to load the entire file in memory.

[2020-07-10 05:25] stuartweir commented on #141
Hi @poros, thank you so much for your help! That does indeed help me out, and I'll take that into consideration when I try to compare between JSONL and Avro.

[2020-07-10 21:18] #115 closed

[2020-07-10 21:18] #141 closed

[2020-07-11 12:52] cpcloud commented on #82
@poros I think this can be closed, since you recently landed your PR to move to `thiserror` :tada:

[2020-07-12 10:33] poros commented on #82
Ah, right, thanks.

[2020-07-12 10:33] #82 closed

[2020-07-12 10:33] poros commented on #86
PR has been merged, closing it.

[2020-07-12 10:33] #86 closed

[2020-07-12 10:35] poros commented on #72
Errors have changed quite a lot since we moved to `thiserror`, but many of them still include strings.

[2020-07-13 23:42] #68 closed

[2020-07-15 13:57] kendru commented on #140
Would an MR that adds support for `tokio::io::AsyncWrite` be desired by this project?

[2020-07-15 20:54] gaborbernat opened #147 "Support schemas expressed as"
Thanks for the library. The schema specification at https://avro.apache.org/docs/current/spec.html#schemas states:

**avro-rs** does not support JSON array format though as the following small example demonstrates:

[code]

[2020-07-16 07:50] gaborbernat opened #148 "array with union records throws exception"
Reproduce with an example:

[code]

[code]

For reference the python avro behaviour (demonstrating that the construction is valid):
[code]

[code]

[2020-07-18 14:53] poros commented on #140
Thanks for being willing to contribute, @kendru!

I am not thrilled by the perspective of tying this library to any of the async runtimes, as there isn't truly any standard atm (although tokio seems to be the most mature among them). Even if we want to add support for it, it would be under a cargo feature.

@alexbiehl is also the only one who asked for such a feature, so I can't really tell that t

[2020-07-19 17:42] bzm3r opened #149 "Auto-generating schemas?"
I wondering if I am missing an existing solution to auto-generate schemas from Rust structs?

[2020-07-19 23:11] poros commented on #149
Hi! The library doesn't have such a feature, neither I know of nay crate that offers it (there is one that does the opposite afaik)

[2020-07-20 03:38] bzm3r commented on #149
Thanks! I have been working today on a simple (very bare bones, geared towards my use case) proc_macro based schema generator. Once I am done, would you be interested in reviewing it and suggesting improvements?

[2020-07-20 19:59] poros commented on #149
Perhaps I can give it a look? No promises, though. I don't have much time to dedicate to open source these days and at least I'd like to keep this library in shape.

[2020-07-23 14:16] JohnEmhoff opened #150 "Upgrade to latest libflate"
Hello! Would you consider upgrading to the latest libflate? The version currently pinned in cargo.toml has a nasty bug in it that causes it to panic on just the wrong input data, which we're hitting all the time: https://github.com/sile/libflate/issues/52 https://github.com/sile/libflate/pull/53

[2020-07-23 21:45] kendru commented on #140
@poros I completely understand not wanting to tie this library to a specific async runtime, and I would be happy to try implementing tokio's `AsyncWrite` interface under a cargo feature. This functionality would be very useful for a project that I am currently working on, and I would imagine that as the use of async code in Rust becomes more common, this will be useful for more people. Since tokio

[2020-07-24 14:13] poros commented on #150
That sounds like a very reasonable request, @JohnEmhoff . If the latest version is backward-compatible, I can do it now. If it isn't, a PR would be very welcome.

[2020-07-24 14:24] poros commented on #140
I am only a bit worried that we will need to keep maintaining it in a fast-changing ecosystem when, at the end, it isn't a core component of a serde library.

@kendru : what do you think about the `Writer` public trait approach I mentioned above? Would that allow you to implement something that works with tokio? If not, I would be OK to go for the cargo feature approach.

[2020-07-24 14:25] #150 closed

[2020-07-24 14:26] poros commented on #150
The change will go out in the next release (hopefully soon, I wanted to include one pending PR)

[2020-07-27 15:11] piropaolo opened #152 "Interpretting Uuid produces SerdeError"
Hi, I'm trying to use `avro_rs` to deserialize data into a struct with a `Uuid` field, but to no avail. Please give me advice how to get this one right. Here's a `MRE`:

[code]

Cargo.toml

[code]

It gives me the error:
[code]

On the other hand, that one is working perfectly fine:

[code]

[2020-07-27 16:52] JohnEmhoff commented on #150
Thanks so much! I'm glad it was a straightforward upgrade.

[2020-07-30 10:10] piropaolo commented on #152
Here's link to my `PR`: https://github.com/flavray/avro-rs/pull/153

[2020-08-01 07:17] clojurians-org opened #154 "how to support convert json to avro value with specified schema?"
i want to implement the equal function for avro command line:
[code]

i can use [to_avro_datum] to write [Avro Value] to binary file.
but i can't find a way to convert [Json Value] to [Avro Value] with specified schema.

i can simple convert the [Json Value] to [Avro Value], but it's schema is not right.
[code]

[2020-08-01 07:21] clojurians-org commented on #149
the js avro library has already offer this function:
[code]

[2020-08-02 06:17] cwitmer commented on #79
The schema in the example is invalid, the default value must be of the type listed first in the union. To use 42 as the default value for "a" the type would need to be specified as ["long", "null"].

Reference: https://avro.apache.org/docs/current/spec.html#schema_complex

[2020-08-09 16:28] poros commented on #79
Thanks for answering, @cwitmer ! @ianpurton I am going to close the issue, but please let me know if there is anything that isn't yet clear.

[2020-08-09 16:28] #79 closed

[2020-08-09 16:34] poros commented on #154
I would recommend you use the `Writer` and `Reader` if you can. `to_avro_datum` and `from_avro_datum` alone are not properly compliant to the avro spec, if used in the wrong way. Nevertheless, it might be OK for your use case, as I have never used that command line tool and I know nothing about it.

The JSON you have might be complex and perhaps might not be straightforward to translate to avro. O

[2020-08-10 01:01] clojurians-org commented on #154
I already use a c implement at work , and add enum type support which it missing. It can be switch to rust implementation easily.
https://github.com/grisha/json2avro/blob/master/json2avro.c

[2020-08-10 01:05] clojurians-org commented on #154
I already use a c implement at work , and add enum type support which it missing. It can be switch to rust implementation easily.
https://github.com/grisha/json2avro/blob/master/json2avro.c

---Original---
From: "Antonio Uccio Verardi"<notifications@github.com&gt;
Date: Mon, Aug 10, 2020 00:34 AM
To: "flavray/avro-rs"<avro-rs@noreply.github.com&gt;;
Cc: "larluo"<larluo@clojurians.org&gt;;"Author"<

[2020-08-10 01:10] clojurians-org commented on #154
This is avro-tools code:
https://github.com/apache/avro/blob/master/lang/java/tools/src/main/java/org/apache/avro/tool/Main.java

It basically comtains two-level format.
Raw Avro Fragments (low level) and avro container with schema and codec.
For message protocol, we often  use Fragment without schema as it reduce size. Javascript avro library is belong to this.

[2020-08-12 01:52] clojurians-org commented on #149
it seem this function can be done with two library combation .
the first one generate json schema from serde, the second can convert json schema to avro schema.

https://github.com/GREsau/schemars
https://github.com/mozilla/jsonschema-transpiler

[2020-08-12 13:58] poros commented on #154
I see, thanks for sharing more details. It seems a good use case for `to_avro_datum`, indeed.
Without the error and the input data is a bit difficult to understand what is going on, but let me give you some pointers.

This is where the function you are calling is defined: https://github.com/flavray/avro-rs/blob/d841c04aa7519b3f6f6b3632c0bd583d4ceee5b9/src/ser.rs#L470
As you can see, this is pretty

[2020-08-13 15:10] #72 closed

[2020-08-17 12:57] amrx101 opened #156 "Use flate2 crate for compression."
Opinion about using `flate2` for compression.

Experiencing low compression factor with existing `libflate` crate.

https://crates.io/crates/libflate

[2020-08-18 08:27] poros commented on #156
I don't have a strong opinion, but from the benchmark published on the [libflate's readme|https://github.com/sile/libflate#an-informal-benchmark], they seem more or less equivalent to me.

In order to justify a change, I guess it would better to see some very good numbers or libflate to go unmaintained.

[2020-08-18 16:07] amrx101 commented on #156
@poros, I will get some numbers as we have been using `flate2` in production.

[2020-09-10 06:53] 0xcaff commented on #149
@poros What's the library which goes the other way (Avro schema to rust structs)?

[2020-09-10 06:54] 0xcaff commented on #149
I think this is a duplicate of https://github.com/flavray/avro-rs/issues/62

[2020-09-11 11:15] poros commented on #149
Closing as duplicate of #62

[2020-09-11 11:15] #149 closed

[2020-09-16 06:18] MSNTCS opened #158 "Question regarding unsigned integer support and codec part"
Greetings!
Thank you for your great repository.

I have a few questions regarding your repository. I would appreciate it if you could answer them.

1- I was trying to use your library and Avro for unsigned integers. Since unsigned integers are `Serializable` and `Deserializable`, based on types the library supports, I should be able to use it. but I could not find a way to use unsigned integers or

[2020-09-20 17:58] lerouxrgd opened #159 "Comparing schemas can panic in 0.11.0"
Here is an example:

[code]

If I remove `{"name": "likes_pizza", "type": "boolean", "default": false}` then it does not panic.

This is a regression that was likely introduced in `0.11.0` as it still works in `0.10.0`.

[2020-09-23 12:18] poros commented on #158
Hello!

1. The library supports all the types in the avro spec and they have been mapped to many of the most common Rust types. If you are trying to serialise a type who hasn't been supported yet, you can either convert it to a type already supported first (https://github.com/flavray/avro-rs/blob/master/src/types.rs#L113) or open a PR to add support for them.

2. The library supports the Deflate a

[2020-09-24 06:52] MSNTCS commented on #158
Thank you for your reply, I will try to use your suggestions :)

[2020-09-25 11:02] joshua-cooper opened #160 "Append to an existing file?"
Is it possible to append to an existing file using this crate?

`Writer`  will always add headers so I don't think it can be used for this.

[2020-09-29 11:12] poros commented on #160
I honestly never tried, but I think that the Avro reader should be able to pick up a new header just fine. Have you given it a try already?

[2020-10-06 08:54] joshua-cooper commented on #160
Correct me if I'm wrong but to append using the reader I would need to read the entire file into memory first. Since the files I'm working with can be arbitrarily large that won't be possible.

I think there needs to be a way to opt out of writing the headers to get around this.

[2020-10-26 20:55] aaronaaeng opened #161 "Converting Avro JSON to Avro Binary"
I'm writing a system to take Avro JSON and a schema and serialize the data to binary.  Both of these will have already been validated by other systems; all I need to do is serialize them.  I saw #154 which seems to be the same question but I am still struggling with it.  Right now I'm trying to get an incredibly small example working.

[code]
When running this, `out` is just `Err(Validation)` with

[2020-10-29 22:11] apohrebniak commented on #161
Hi. The `data` variable is just a `&str` which is implementing the `ser::Serialize` serde trait and is serialized into the `avro_rs::types::Values::String` as a result. Then it is being validated against the `avro_rs::types::Values::Record` which is the type your schema describes.
What you can do is to  **de**serialize your string into the `serde_json::Value` and then pass it into the `avro_rs::to

[2020-11-03 15:29] JuliDi commented on #160
Did you find any solution for this?

I am looking for a way to append additional fields/data to a file. Preferably without reading the whole file first and then writing the whole file again.

Something like this, using the Readme example:
First schema:
[code]

Updated schema:
[code]
And now I would like to read (with the updated schema) an Avro file that has been created with the first schema and

[2020-11-10 10:37] joshua-cooper commented on #160
Not yet unfortunately.

[2020-11-12 13:25] KannarFr opened #162 "make mod ser public"

[2020-11-25 00:56] poros commented on #161
Thanks for answering @apohrebniak ! I hope this clears the issue. If not, feel free to comment again.

[2020-11-25 00:56] #161 closed

[2020-11-25 22:37] aaronaaeng commented on #161
Sorry I never responded to this one.  I got it figured out but just wanted to briefly describe what I did in case anyone else comes across this.

@apohrebniak's answer would work in a lot of cases but didn't work for mine.  The `avro_rs::to_value` method couldn't properly handle nested records which caused a whole host of errors.  In the end, I made a copy of the data/schema [validation method](ht

[2020-11-27 19:07] #159 closed

[2020-11-27 19:18] #162 closed

[2020-11-27 19:21] poros commented on #160
Have you tried using the https://docs.rs/avro-rs/0.11.0/avro_rs/fn.to_avro_datum.html and https://docs.rs/avro-rs/0.11.0/avro_rs/fn.from_avro_datum.html functions by any chance? They don't do some of the validation and header handling that writer does and perhaps they could work better in a "seek file then read" kind of scenario.

[2020-12-01 06:40] KannarFr opened #165 "Support ISO 8601 parsing to TimestampMicros"
#### Why?

[code]

#### Reason

[code]

#### Suggestion

Try convert String to ISO 8601 and then to long for TimestampMicros and TimestampMillis avro impl.

@flavray WDYT?

[2020-12-03 17:44] flavray commented on #165
It looks like this would go against the [Avro specification](https://avro.apache.org/docs/current/spec.html#Schema+Resolution) (if I understand your request correctly, feel free to correct me if I'm wrong!). I would be inclined to try to keep the implementation as close to the specification as possible, in order to make operability with other implementations of Avro (be it in rust or other languag

[2020-12-07 02:49] Kalomidin opened #166 "Error caused by using `matches`"
https://github.com/flavray/avro-rs/blob/de6153ecea6fe660bcf20ff67f47a0b05211b8e1/src/schema.rs#L134
In that line, comma causing me build in error:
`SchemaKind::String, | ^ no rules expected this token in macro call avro_rs`

However, when I switched to version `0.11.0`, it was working fine since it is using following matching:

[code]
I was just wondering, whether it is better to switch to the pre

[2020-12-08 18:39] JuliDi commented on #160
Thanks, I'll give that a try!

[2020-12-09 14:26] ttencate opened #167 "Serializing Some(date) gives validation error"
Using avro-rs 0.11.0 because 0.12.0 [won't compile for me](https://github.com/flavray/avro-rs/issues/166).

[code]

[2020-12-09 16:21] ttencate commented on #167
I hacked around this in my fork, but my approach is probably not the best way: https://github.com/ttencate/avro-rs/commit/1c89f55134797e2ed7825f6434cd3f1efc1fe48b

[2020-12-16 22:37] poros commented on #166
The error will disappear if you update your rust version. Is it something that you can do?

[2020-12-16 22:40] poros commented on #167
Thanks for reporting the bug. As for the compilation, the error should disappear if you can update your rust version.

[2020-12-17 21:15] dgrijalva-squire opened #169 "Bytes/Fixed compatibility and Serde"
I've been struggling to get Serde working on a schema that uses `fixed` fields. It appears there's no mapping between Serde and `Value::Fixed`. It looks like this _could_ be supported if we added a few mappings to `Value` that allow coercion between `Bytes` and `Fixed` as long as the size matches.

Am I just doing it wrong? Would you accept a PR that adds this support?

[2020-12-30 12:21] #152 closed

[2020-12-30 12:27] poros commented on #169
Hi, apologies for the late reply.
We are aware of one issue with `Fixed` and default values (see #96 and #66), but not that it is completely broken (it should be used as base for some of the logical types and we should have tests for those).
If you have some code to reproduce the bug, we could turn it into a unit test.

You are welcome to contribute, of course!  Have a look in the codebase and sub

[2021-01-04 10:03] bzm3r commented on #89
@poros I started using this library not because it was easy to use, but because I wanted something performant for large data sets (simulation results) :/

In terms of ease of usage, it has been a bit on the tougher side, but probably because I am somewhat new to Rust, and the docs are still a little light.

[2021-01-04 18:36] bzm3r opened #170 "How to manually create a `UnionSchema` schema?"
I notice that the [`UnionSchema`](https://docs.rs/avro-rs/0.12.0/avro_rs/schema/struct.UnionSchema.html) is private, and thus cannot be accessed in order to create a union's schema directly. By that I mean: without passing a string, but instead creating a schema by composing `schema::Schema` types.

Is this on purpose?

[2021-01-05 16:47] only-cliches commented on #89
@bzm3r I've been working on a new format [NoProto](https://crates.io/crates/no_proto) that has a majority of the useful features of Apache Avro with a simple API and significantly better performance.

**Legend**: Ops / Millisecond, higher is better

| Library            | Encode | Decode All | Decode 1 | Update 1 | Size (bytes) | Size (Zlib) |
|--------------------|--------|------------|----------

[2021-01-06 14:05] poros commented on #170
No, there isn't much of a reason for the `new` method to be `pub(crate)` while the other methods and the struct is actually public (the fields are not and I'd like to keep them that way, as one day we might want to fully support named types in unions and they will likely need to change). Would you like to do the change yourself?

[2021-01-21 07:00] Kalomidin commented on #166
@poros thank you for your response.
It solved the issue for me.
I will close the issue.

[2021-01-21 07:00] #166 closed

[2021-01-25 12:54] poros opened #174 "poros stepping down as a maintainer"
Hi folks,

I have decided to take an indefinite break from maintaining this library. I don't have much free time to dedicate to open-source these days and I think it would be better spent contributing to the projects I use and like instead of being a pretty absent maintainer.

This library has been a fun part of my life for a few years and I am happy to have worked with @flavray and you all contri

[2021-01-25 18:22] zyxw59 opened #175 "Resolution of logical types in Unions"
The following resolves:
[code]

But this doesn't:
[code]

To my understanding, I think the second one should also resolve to `Value::Union(Value::TimestampMillis(1611598212212))`

[2021-01-28 20:32] #175 closed

[2021-01-29 17:46] flavray opened #177 "Ensure the library is using inclusive language"
It does not seem that the library itself is using any non-inclusive language, but let's at least rename the `master` branch to `main`. Github published a [guide](https://github.com/github/renaming) on how to do so.

Feel free to add any other non-inclusive you may find in the code!

[2021-02-04 19:06] lockwobr opened #179 "Validate Enum values"
Schema validation does not apply the `[A-Za-z_][A-Za-z0-9_]*` or All symbols in an enum must be unique; duplicates are prohibited from the [spec](https://avro.apache.org/docs/current/spec.html#Enums).

[2021-02-06 13:28] jeroentervoorde opened #180 "How to determine which branch of a union was used"
I've a schema that wraps a record type in a union that all have the same layout. They only differ on record name.
For instance:
Added { payload: Record}
Deleted { payload: Record}
Updated { payload: Record}

I can parse these records and that gives me a Union(Record[payload: Record]) but i can't find a way to determine if it's added, delete or updated.

Is this a limitation of the library and, if

[2021-02-07 15:54] flavray commented on #180
This looks like one of the recurring issues we've had reported, and still have no fix for this (yet!), after a few attempts :(

Issues #61 #95
Previous attempt #90

Let me know if you were referring to something else. 🙂

If you want to have a go at this, I'd be happy to review it any time you have something (even if not complete)! If not, I'll give it a go later on.

Regarding the implementation,

[2021-02-07 17:00] #179 closed

[2021-02-08 01:14] lerouxrgd commented on #180
How about using a dedicated `enum` as follows:

[code]

[2021-02-08 08:45] jeroentervoorde commented on #180
@flavray

No, i think that's the same issue. Sorry about that :)
Thanks for the pointers. That'll be very useful.

I'd like to take a stab at this but i intend to wait until https://github.com/flavray/avro-rs/pull/99 is merged. If i can do something to help there please let me know.

@lerouxrgd

This is indeed how i intend to deserialize this into a rust type but the problem I'm running into now i

[2021-02-17 20:52] lockwobr opened #182 "org.apache.avro.SchemaParseException: Can't redefine: test"
Having issues writing data with avro_rs and reading it with apache avro java. I was able to create one example that is close to what i am experiencing. I have a pretty complicated schema, so trying to boil it down the problem bits.

This code works just fine, but went read into avro tools i get an error.
[code]

[code]

Seems like there might be a validation that apache avro is doing that avro_rs

[2021-03-15 14:51] stevedonovan opened #183 "Compile error version 0.13.0"
[code]
The stray comma at the end causes grief (this bites me as well)

[2021-03-18 07:44] stevedonovan commented on #183
My apologies - error went away with rustc 1.50 :)

[2021-03-18 07:44] #183 closed

[2021-03-22 13:19] sycured commented on #140
Have you any ETA about async?

@kendru have you any fork or patch for async?

How to permit the usage of tokio and async_std?

[2021-03-22 19:00] edude03 opened #185 "Wrong field is parsed when the `"logicalType": "uuid"` value is set on a field"
So this is a strange issue. It seems like if `"logicalType": "uuid"` is set, it parses the value next field instead of the existing one.

<details>
  <summary>Take a look at this example: </summary>
  <p>

[code]
  </p>
</details>

Which produces:

[code]

Removing the logical type "fixes" this issue, but I guess that's not really the solution.

[2021-04-01 19:33] albertoortiz opened #186 "Error deserializing avro schemas serialized with Java app"
[code]
I can't deserialize any message , always get an error, like `**GetAvroSchemaFromMap**`. Before was getting Magical header error, what I solved adding this to my message:
`let body_header = [[b'O', b'b', b'j', 1u8].to_vec(), body].concat();
`
The messages are fine using a Java avro deserializer, but not sure where is the problem with rust.

schema:
[code]

reading:

[code]
I always get an er

[2021-04-12 02:29] AlexRiedler opened #187 "Increasing Decimal Logical Types Support"
I work a fair bit with logical types, and noticed we could probably increase support a fair bit by adding precision and scale to our decoded logical types (or even better potentially add support for bigdecimal crate).

I tried to implement this, was going to give it a PR but ran into an issue that would require significant refactoring of the code, and the public interface 😢 . In particular, the Bi

[2021-04-12 23:11] AlexRiedler commented on #185
So the Uuid is actually not getting encoded at all into the payload sadly :( https://github.com/flavray/avro-rs/pull/188 is a workaround, but I think I need to read more about serde first, to see if there is another way to coerce to the correct type.

[2021-05-23 05:43] flavray opened #189 "[Announcement/Action Needed] The project is moving to the Apache Software Foundation"
Hello all,

The Apache Software Foundation (ASF) reached out with an interest to kickstart an official Apache Avro implementation for Rust, basing the initial implementation off the avro-rs codebase.
Concretely, for avro-rs, this means that the license will change to the Apache License, and the code will probably be moved to the apache/avro repository. The project will effectively be donated to th

[2021-05-23 09:58] cpcloud commented on #189
I support this donation! I've already signed the Apache ICLA elsewhere, how do I notify the Avro project?

[2021-05-23 16:27] iemejia commented on #189
This is great news. Thanks @flavray for agreeing to do this, special thanks to @poros too!

@cpcloud let me confirm with someone at the ASF if you may need to send an additional ICLA (hopefully not). I will let you know if needed.

[2021-05-23 22:31] iemejia commented on #189
Just confirmed @cpcloud that you do NOT need to sign a new ICLA. Thanks !

[2021-05-23 22:43] cpcloud commented on #189
Roger that thanks!

[2021-05-24 08:47] nlopes commented on #189
I also support this donation.

[2021-06-21 08:04] kitsuneninetails opened #190 "Unions can't have records?"
As far as I know, the following schema is perfectly acceptable in avro:

[code]

But, the fact that I have a union where one type is not a primitive type (i.e. a record), seems to return "unsupported Union" errors when trying to deserialize (it builds the schema just fine, apparently).

Looking at the code, it indeed has:

[code]

in the deserialize code (deserialize_any).

Why isn't this supporte

[2021-07-01 21:28] lerouxrgd commented on #190
Just FYI this should match your schema:

[code]

[2021-07-15 20:57] gklijs commented on #189
Great news indeed.

[2021-07-20 01:30] jianchen2580 opened #191 "Unions got Error: Validation when call writer.append(record)?"
code:
[code]

[code]

[2021-07-20 14:54] mirosval commented on #47
It appears that this is also a problem when you want to use `#[serde(flatten)]` as the Struct that gets spliced will mess up the order of the parent struct, fascinating.

[2021-07-29 18:44] codehearts opened #192 "Deserializing Avro unions to Rust enums"
I saw the announcement regarding Apache taking ownership of this repo, so let me know if I should move this to their bug tracker!

I'm using [`rsgen-avro`](https://github.com/lerouxrgd/rsgen-avro/) to generate types for my Avro schemas, which for unions like `["null", "int", "long"]` creates this in Rust:

[code]

`null` deserializes to `None`, but `int`/`long` yield a "not an enum" error rather t

[2021-08-09 15:09] arnaudpoullet-dkt commented on #186
Hi,

I'm sorry to see you didn't get an answer on this. I am having the same problem myself, did you find a solution in the end ?

[2021-08-09 18:29] albertoortiz commented on #186
I ended using protobuf in the producer side. Seems like the avro schema is expected with the message, but I won't do that , another option is to use another lib that provide the schema, it's a similar dependency from crates.io, I don't want to spend more time testing another one.

Using protobuf is pretty simple.

[2021-08-09 18:29] #186 closed

[2021-09-12 16:48] jorgecarleitao opened #193 "Question: How to deserialize to a colunmar format"
Hey, Thank you so much for this library!

I am considering deserializing avro to arrow, and I am looking for an efficient way of doing it.

In other row-based formats (CSV, JSON), we have been doing the following:

1. separate "reading" (`Read+Seek -> Vec<Row>` or `AsyncRead+AsyncSeek -> Future<Vec<Row>>`) from "deserializing" (`Vec<Row> -> Vec<Columns>`)
2. use a reading to `&mut [Row]`, so that

[2021-09-13 18:06] jorgecarleitao opened #195 "Reduce allocations in reading"
This is a follow up of #193.

My understanding is that this crate is optimized for reading to (the owning enum) `Value`, that encapsulates all types, like e.g. serde-json does.

This design makes it expensive to deserialize it to other formats. Specifically, the main challenge is that given a rows of strings, each row will have to allocate a new `String` because `Value` owns `String`, even when th

[2021-09-14 20:47] ultrabug opened #197 "How to access Avro data easily?"
Hi,

Sorry if my question sounds naive but I'm trying to use this crate to manipulate Avro data stored into (Confluent) Kafka with schema registry using [schema_registry_converter](https://github.com/gklijs/schema_registry_converter).

I [asked there first](https://github.com/gklijs/schema_registry_converter/discussions/62) but I have the feeling that my current method to access the rdkafka Borrow

[2021-09-20 08:54] ultrabug opened #198 "Release build errors triggered by optimizations"
Hi,

I'm trying to find out why I'm getting `ConvertToUtf8` and `ConvertI64ToUsize` [deserialization errors when running in release mode while I'm not getting them on debug mode](https://github.com/gklijs/schema_registry_converter/discussions/64).

For now, I pinned down the fact that if I disable optimizations in the release profile, the errors go away:

[code]

Does that ring a bell to anyone?

[2021-10-12 16:47] #197 closed

[2021-10-13 21:46] flavray commented on #189
The project has now been donated to the ASF and the code moved to the [apache/avro](https://github.com/apache/avro/tree/master/lang/rust] repository. Thank you all for your support!

[2021-10-13 21:46] #189 closed

[2021-12-01 01:08] github-actions[bot] opened #201 "RUSTSEC-2021-0127: serde_cbor is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `serde_cbor`                      |
| Version             | `0.11.2`                   |
| URL                 | [https://github.com/pyfisch/cbor](https://github.com/pyfisch/cb

[2021-12-10 07:18] campbellC commented on #66
I'm not sure of all of the ins and outs here but for my use case where I want to use `Vec<u8>` and have this serialized into an avro `bytes` I followed the advice [here](https://github.com/flavray/avro-rs/issues/108) to use the serde_bytes crate. So the following works fine for both serialization and deserialization using `append_ser`:
[code]

[2022-01-30 22:36] martin-g commented on #121
The spec says `Scale must be zero or a positive integer less than or equal to the precision.`.
The Java impl also throws an exception for this case - https://github.com/apache/avro/blob/5eff9a7f503ab0de550c99b6b46ac628ca9d817d/lang/java/avro/src/main/java/org/apache/avro/LogicalTypes.java#L289-L292

[2022-03-05 11:50] martin-g commented on #182
This issue is fixed in apache_avro crate. There one can use schema references:
[code]

apache_avro is a fork/donation of this project to Apache Avro project.
There is no official release of the crate yet but it should be released soon with Avro 1.11.1!

[2022-03-05 13:15] travisbrown commented on #182
@martin-g Thanks for the pointer! There still seems to be an issue with `can't refine` errors, at least in some non-recursive cases. Take the following example:

[code]
This prints the following (the same thing happens if the `test.foo` definition is in a separate file):
[code]

Which will cause the Java tooling to fail with the `org.apache.avro.SchemaParseException: Can't redefine: test` error ab

[2022-03-06 12:47] martin-g commented on #182
@travisbrown I've logged https://issues.apache.org/jira/browse/AVRO-3433 for the issue!

[2022-03-06 12:55] travisbrown commented on #182
@martin-g Thanks very much!

[2022-03-06 14:30] martin-g commented on #182
@travisbrown Please try https://github.com/apache/avro/tree/avro-3433-preserve-schema-ref-in-json
There are some tests to update but the issue should be fixed!

[2022-03-06 21:20] martin-g commented on #182
https://github.com/apache/avro/pull/1580 is ready for review!

[2022-04-13 09:54] jchia opened #203 "No support for named type references"
The following schema parses fine with Python Avro but in avro-rs, `Schema::parse_str()` rejects it with `Error: ParsePrimitive("Dec")`:
[code]
The part of the Avro spec describing references to named types is here: https://avro.apache.org/docs/current/spec.html#names

[2022-04-13 11:00] martin-g commented on #203
Please use the successor of this project: https://github.com/apache/avro/tree/master/lang/rust

[2022-04-13 11:06] martin-g commented on #203
See https://github.com/flavray/avro-rs/pull/99#issuecomment-1017195592

[2022-04-14 08:04] #203 closed, assigned to nobody

[2022-04-17 21:53] Ten0 commented on #195
There's the same kind of suboptimal writing in the serde module, e.g. it uses visit_str instead of visit_borrowed_str.
Looks like this (and possibly other issues) should be ported over to the jira repo.

[2022-04-18 22:14] martin-g commented on #47
A PR with a fix at https://github.com/apache/avro/pull/1650

[2022-04-20 19:38] martin-g commented on #70
This is fixed with
1) https://github.com/flavray/avro-rs/commit/d719de228131a8978e230f8b404c5bf07ef89567
2) https://github.com/flavray/avro-rs/commit/b3edfacced605a9d3229426441a2808176c86120#diff-aeece9508d349335fdebc30632ef26fa2851aa73336dea735c78d36cb7e77b2b

[2022-08-01 20:30] #108 closed